* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

body {
    color: #efefef;
    font-family: Onest, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
}

header, a {
    color: #efefef;
}

header {
    background: linear-gradient(#221323, #948186, #c515b8);
    background-repeat: no-repeat;
    padding: 3vw 2.5rem;
    height: 100vh;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

li {
    font-size: 1.2rem;
    font-weight: 400;
}

.logo {
    width: 13.9rem;
    height: 3.23rem;
}

.nav-keys {
    width: 45vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h1, h2, h3, h4, h5 .projects-section p {
    font-weight: 700;
    color: #580853;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

h1 {
    font-size: 4.4rem;
    font-weight: 900;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 70px;
    text-align: center;
    margin: 30px;
}

h4 {
    font-size: 32px;
    margin: 0;
    margin-bottom: 5px;
    color: #580853;
}

h5{
    font-size: 3.5rem;
    line-height: 60px;
    text-align: left;
    width: 450px;
    color: #580853;
}

p {
    width: 40rem;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.05rem;
    text-align: left;
}

main {
    background-color: #f4f4f9;
    color: #333333;
}

.Skills-section {
    padding: 5.87rem 5.9rem;
    display: flex;
    gap: 200px;
}

.Skills-section p {
    width: 27.4rem;
    font-weight: 400;
    font-size: 1.2rem;
    margin: 2.4rem 0;
}

.skills-cloud {
    text-align: center;
    padding: 20px;
    max-width: 80%;
    margin: auto;
}

.skills-cloud span {
    display: inline-block;
    color: #221323;
    padding: 5px 10px;
    margin: 5px;
    font-size: 18px;
    font-weight: 800;
    transition: transform 0.3s, background-color 0.3s;
}

.skills-cloud span:hover {
    border-radius: 5px;
    transform: scale(1.1);
    background-color: #580853;
    color: #efefef;
    cursor: pointer;
}

.skills-cloud .small {
    font-size: 12px;
}

.skills-cloud .medium {
    font-size: 16px;
}

.skills-cloud .large {
    font-size: 20px;
}

.skills-cloud .x-large {
    font-size: 24px;
}

.skills-cloud .xx-large {
    font-size: 28px;
}

.services-section, .contact-section {
    background-color: #c515b8;
    color: #e9dfe8;
    padding: 5.87rem 5.9rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 2rem 0 0;
    display: flex;
    flex-direction: column;
}

.services-section article:first-of-type {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 90px;
}

.services-section article:nth-of-type(2) {
    display: flex;
    margin: auto;
    gap: 150px;
}

.services-section h4 a {
    color:#580853;
    text-decoration: none;
    transition: color 0.3s, transform 0.3s;
}

.services-section h4 a:hover {
    color: #948186; 
    transform: scale(1.05); 
}

.services-section p {
    width: 412px;
    font-weight: 400;
    font-size: 18px;
    margin: 0;
    line-height: 21px;
    text-align: center;
}

.image-div > img {
    width: 400px; 
    height: 600px;  
}

.services-list {
    margin: 50px 0;
}

.services-list div{
    margin-bottom: 30px;
}

.services-list p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.button{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.read-more,button {
    background: linear-gradient(65deg, #a0539b, #580853);
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
}

.read-more:hover {
    background-color: white; 
    transform: scale(1.05); 
    text-decoration: none;
}

.read-more img{
    width: 15px;
    
}

.projects-section {
    padding: 0 0  0 2.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.projects-section > div:first-of-type{
    width: 50%;
    padding-top: 5.87rem;
}

.projects-section p{
    font-size: 60px;
    line-height: 70px;
    text-align: left;
    width: 600px;
}

.projects-section button{
    width: 170px;
    height: 60px;
    border-radius: 30px;
    font-weight: 700;
    font-size: 20px;
    background: none;
    background-color: #F9B5FF;
    color: #210B26;
}

.project-grid{
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.project-grid img, .project-grid a{
    width: 300px;
}

.project-grid img:nth-of-type(2), .project-grid a:nth-of-type(2){
    margin: 60px 0 30px 30px;
}

.project-grid img:nth-of-type(3), .project-grid a:nth-of-type(3){
    margin: 0 30px 0 40px;
}

.project-grid img:last-of-type, .project-grid a:last-of-type{
    margin-top: 20px;
}

.project-item {
    transition: transform 0.3s;
}

.project-item:hover {
    transform: scale(1.05);
}

.project-item a {
    text-decoration: none;
    transition: background-color 0.3s;
}

.contact-section{
    display: flex;
    flex-direction: row;
}

.contact-section div{
    margin: auto;
    padding: 0;
    width: 50%;
}

.contact-section a, .contact-section button{
    width: 300px;
    height: 70px;
    font-size: 28px;
    font-weight: 900;
}


